
<div class=" navbar navbar-expand-lg navbar-dark bg-dark container-fluid navbar-brand">
  <div style="color: red;"><h6>Footer</h6></div>
  <div class="">
    
    <p style="color: #fff;"><i>Power by Nana Ampaabeng</i></p>
    
  </div>
</div>