	<style>
	/* body{
		margin:0px;
		padding: 0px;
		background-color:#1b203d;
		 overflow: hidden; 
		font-family: system-ui;
	} */



	/* move the circle to  right to left */
	 .col-div-3{
		width: 35%;
		float: right;
	}  



	/* move the circle to top and down */
	.col-div-4{
		width: 30%;
		float: ; 
	}
	.content-box{
		padding: 20px;
	}

	.circle-wrap {
	margin: 50px auto;
	width: 200px;
	height: 200px;
	background: #e6e2e7;
	border-radius: 50%;
	}

	</style>










	<h1 style="color:#ddd">About Us.</h1>

	<%#= image_tag("/assets/3.jpg", :class=>"d-block w-10")%> 
	<h4>

		<em style="color:#f7403b">
					STATUS
					UPTIME
			CODE
			DATA
			DISCUSS
			STATS
			CONTRIBUTE
			ABOUT
			HELP
			API
			SECURITY
			MAINTAINERS WANTED
	</h4>
	<br>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
		Temporibus maxime sapiente sunt unde debitis? Similique sint itaque possimus delectus odit sunt hic,
		nemo sed minima, expedita praesentium laborum placeat tempora!
	</p>

		<div class="col-div-3">
			<div class="box-4">
			<div class="content-box">
				<p>To do <span>Sell All</span></p>

				<div class="circle-wrap">
		<div class="circle">
		<div class="mask full">
			<div class="fill"></div>
		</div>
		<div class="mask half">
			<div class="fill"></div>
		</div>
	<%#= image_tag("/assets/3.jpg", :class=>"d-block w-100  profile")%> 

		<!-- <div class="inside-circle"> 70% </div> -->
		<!-- </div>
	</div> -->
<!-- 

			</div>
		</div>
		</div> -->