	<style>
.container{
	margin-top: 2%;
}
.inner{
	overflow: hidden;
}
.inner img{
	transition: all 1.5s ease;
}
.inner:hover img{
	transform:scale(1.5);

}
	</style>

	<h1 style="color:#ddd">About Us.</h1>

	<%#= image_tag("/assets/3.jpg", :class=>"d-block w-10")%> 
	<section>
		<div class="container">
			<div class="row justify-content-center">
<div class="col-md-4">
	<div class="card shadow" style="width: 20rem">
		<div class="inner">
	<%= image_tag("/assets/3.jpg", :class=>"d-block w-10 card-img-top")%> 
		</div>

	<div class="card-body text-center">
		<h5 class="card-title">Design</h5>
		<p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque error consectetur aliquam! Sunt harum sit beatae deleniti dicta omnis ducimus dignissimos ipsum ad modi accusamus non sint, temporibus incidunt voluptate!</p>
		<a href="#" class="btn btn-outline-warning">Learn More...</a>
	</div>
	</div>
</div>
<div class="col-md-4">
	<div class="card shadow" style="width: 20rem">
		<div class="inner">	
	<%= image_tag("/assets/2.png", :class=>"d-block w-20 card-img-top")%> 
		</div>
		<div class="card-body text-center">
			<h5 class="card-title">Responsive</h5>
			<p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque error consectetur aliquam! Sunt harum sit beatae deleniti dicta omnis ducimus dignissimos ipsum ad modi accusamus non sint, temporibus incidunt voluptate!</p>
			<a href="#" class="btn btn-outline-primary">Learn More...</a>
		</div>
		</div>
</div>
<div class="col-md-4">
	<div class="card shadow" style="width: 20rem">
		<div class="inner">
	<%= image_tag("/assets/2.png", :class=>"d-block w-10 card-img-top")%> 

			<!-- <img class="card-img-top" src="" alt="card image cap"> -->

		</div>
		<div class="card-body text-center">
			<h5 class="card-title">UI/UX</h5>
			<p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque error consectetur aliquam! Sunt harum sit beatae deleniti dicta omnis ducimus dignissimos ipsum ad modi accusamus non sint, temporibus incidunt voluptate!</p>
			<a href="#" class="btn btn-outline-danger">Read More...</a>
		</div>
		</div>
</div>
			</div>
		</div>


	</section>