


<div class="card  container-sm block bg-secondary ">
  <div class="card-header container-sm block bg-light "><h3> Profile Update</h3><br></div>
  <div class="card-body bg-secondary">
  	<%= render 'form', friend_profile: @friend_profile %>
<br>
<%= link_to 'Show', @friend_profile, class:" btn btn-info" %> 
<%= link_to 'Back', friend_profiles_path, class:"btn btn-dark"%>

</div>
</div>