
<div class=" col-md-11 mb-12 container-sm block">
  <div class="card-header bg-info"><h3>New</h3><br></div>
  <div class="card-body bg-secondary">

<%= render 'form', friend_profile: @friend_profile %><br>

<%= link_to 'Back', friend_profiles_path, class:"btn btn-light"%>
</div>
</div>